.app-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #f8f9fa;
}

.hexagon-bubbles-wrapper {
	flex-grow: 1;
	position: relative;
	background-color: #0d0d0d; /* Fond noir pour garder ton visuel */
	overflow: hidden;
}
.login-page {
	color: white;
	text-align: center;
	margin-top: 50px;
}
