.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Espace pour l'icône */
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box; /* Pour éviter que padding agrandisse l'input */
  outline: none;
}

.password-toggle-icon button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto; /* Ajuste selon la taille de ton icône */
  height: auto;
  line-height: 0;
  box-shadow: none;
  outline: none;
  border: none;
}
.password-toggle-icon button:focus {
  outline: none; /* Désactive le contour focus par défaut */
  box-shadow: none; /* Supprime l'effet de focus */
  background-color: transparent; /* Assure qu'il n'y ait pas de fond */
}

.password-toggle-icon:hover {
  color: #495057;
}

.password-input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.password-toggle-icon:focus {
  outline: 2px solid #80bdff;
  border-radius: 50%; /* Pour bien délimiter l'outline */
}